<form [formGroup]="formularioLogin" (ngSubmit)="submit()">



  <label for="usuario">Usuario </label>
  <input type="text" name="usuario" formControlName="usuario" /><br>

  <label for="password">Password</label>
  <input type="password" name="password" formControlName="password" /><br>
  <input type="submit" value="Enviar">



</form>


