
  @for(imagen of encontrar.data; track $index){
    <div class="card"  style="background-color: rgb(193, 203, 214) ; width: 200px; border: 1px solid blue; padding: 4px; border-radius: 8px;">
    <div class="card-body">
    <tr>
      <h5 class="card-title ">{{imagen.first_name}} {{imagen.last_name}}</h5>
      <p class="card-text">{{imagen.email}}</p>
      <img (click)="evento1()" src="{{imagen.avatar}}" style="width: 200px;" class="card-img-top" alt="Soy una foto de una cara sonriente">
    <button (click)="evento()"><img src="https://iconos8.es/icon/11737/pencil" alt="Modificar"></button>
    @if (visible1) {
      <div id="ventanaModal" class="modal">
          <div id="contenido" class="contenido-modal">
              <h2>{{imagen.first_name}}</h2>
              <p>{{imagen.email}}</p>
              <button (click)="evento1()">Finalizar</button>
          </div>
        </div>
      }
  </div>
  </div>
}

  @if (visible) {
    <div id="ventanaModal" class="modal">
        <div id="contenido" class="contenido-modal">
            <p>Modifique la ficha</p>
            <label for="nombre">Nombre</label><input name="nombre" type="text">
            <br>
            <label for="apellido">Apellido</label><input name="apellido"type="text">
            <br>
            <label for="email">Email  <input name="email" type="email"></label>
            <br>
            <button (click)="evento()">Finalizar</button>
        </div>
      </div>
}

  <button (click)="anterior()" class="boton">Anterior</button>
  <button (click)="siguiente()" class="boton" >Siguiente</button>




